<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/aboutus.css">
    <title>Document</title>
</head>
<body>
    <div id="navbar">
        <h1 id="logo">
            Dog Breed Identification
        </h1>
        <div id="navigation">
            <a href="/">Home</a>
            <a href="/predict">Breed Predictor</a>
            <a href="/aboutus">About Us</a>
        </div>
    </div>
    

    </div>
</body>
</html>